body {
    color: #333333;
    font-family: "Tinos", Times, serif;
}

h1 {
    font-size: 48px;
    margin-bottom: 5px;
}

#wrapper {
    margin: 12px;
    padding: 0px;
}

#github {
    margin: 0px;
}

ul {
    display: table;
}

ul li {
    list-style-type: none;
    margin: 4px;
}
